<section id="section-presentation" class="landing home-section">

  <div class="container">
    <a href="/"><img src="assets/images/beovolytics-logo.png" alt="beovolytics logo"></a>
    <div class="section-header">
      <h4>FULL STACK & BLOCKCHAIN DEVELOPMENT</h4>
      <p>Beovolytics integrates software assembly lines into large organizations by deploying solutions offered by the cloud ecosystem. We build software solutions using emerging technology for startups and enterprises. Our team of Certified experts has designed, developed and produced over various digital platforms on Cloud, IoT, Web. Mobile, and blockchain technology.</p>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card matRipple [routerLink]="'/home/one'">
          <mat-card-content class="p-1 m-0">
            <h4>Full Stack & Graphics Development</h4>
          </mat-card-content>Our full stack development services include all types of development with MEAN, Node.JS, Angular-Cli, MongoDB, Express, ReactJS, React Native, Vue.JS, jQuery and jQuery Mobile. We have experienced Full-stack engineers who excel in front-end as well as back-end technologies.
          <img mat-card-image class="m-0" src="assets/images/demo_home_one.jpg">
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card matRipple [routerLink]="'/home/two'">
          <mat-card-content class="p-1 m-0">
            <h4>ICO/STO Launch Platform´s</h4>
          </mat-card-content>STO/STO launch platform's are an efficient way to manage token sale, company equity, asset, debt, investment fund & security token derivations.
          <img mat-card-image class="m-0" src="assets/images/demo_home_two.jpg">
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card matRipple [routerLink]="'/home/all'">
          <mat-card-content class="p-1 m-0">
            <h4>Blockchain Development</h4>
          </mat-card-content>Development of public and private blockchains to the creation of smart contracts, dApps and distributed ledgers. Our offshore full-stack, blockchain programmers provide quick deployment of projects and reliable support for ongoing projects...
          <img mat-card-image class="m-0" src="assets/images/demo_all.jpg">
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="demo-button-wrap">
      <button mat-raised-button mat-lg-button color="accent" (click)="whitePaper()">Whitepaper</button>
    </div>
  </div>
</section>
