<section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2>Our Works</h2>
      <p>

      </p>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="1479.00">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/sq-12.jpg">
          <mat-card-content>
            <h5><strong><a href="">Web Development</a></strong></h5>
            <p>
              Web Development & Graphics Desings.
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="4898.00">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/sq-9.jpg">
          <mat-card-content>
            <h5><strong><a href="">Applications</a></strong></h5>
            <p>
              Blockchain-based Decentralized Applications (Dapp), mobile, and WebApps.
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="15900.00">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/sq-10.jpg">
          <mat-card-content>
            <h5><strong><a href="">Blockchain Development</a></strong></h5>
            <p>
              Blockchain Networks, smart contracts, and tokens.
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="text-center home-section-action">
      <button mat-raised-button mat-lg-button color="accent">SEE MORE</button>
    </div>
  </div>
</section>
